<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/backgound.css" type="text/css">
    <title>傣医诊疗系统-首页</title>
    <link type="text/css" href="../static/index.css" rel="stylesheet">
</head>

<body background="../static/images/27.jpg"
    style="background-repeat: no-repeat;background-size: 100% 100%;background-attachment: fixed;">
    <div class="mainb">
        <span class="loin">
            <form action="">
                <h2>傣医诊疗系统首页</h2>
                <span class="header">
                    <a href="/auth/register"><button type="button">医生注册入口</button></a>
                    <a href="/auth/patient_register"><button type="button">患者注册入口</button></a>
                    <a href="/auth/login"><button type="button">医生登录入口</button></a>
                    <a href="/auth/patient_login"><button type="button">患者登录入口</button></a>
                    <a href="/"><button type="button">退出</button></a>
                </span>
    </div>
    </form>
    </div>
    </div>
</body>


</html>