<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/init.css">
    <title>医生-登录</title>
    <link type="text/css" href="../static/common.css" rel="stylesheet">
</head>

<body background="../static/images/27.jpg"
    style="background-repeat: no-repeat;background-size: 100% 100%;background-attachment: fixed;">
    <div class="mainb">
        <div class="loin">
            <form action="#" method="POST">
                <div class="header">
                    <label>用户名</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="header">
                    <label>密码</label>
                    <input type="password" name="password" class="form-control">
                </div>
                <div class="header">
                    <button type="submit" class="btn btn-primary btn-block">立即登录</button>
                </div>
                <a href="/"><button type="button">退出</button></a>
            </form>
        </div>
    </div>
</body>

</html>